<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <title>Artem Maximum — windows ui emulation</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="description" content="Emulation of windows 8 UI (React + Redux example)" />

  <meta name="og:type" content="website" />
  <meta name="og:site_name" content="Artem Maximum — windows ui emulation" />
  <meta name="og:description" content="Emulation of windows 8 UI (React + Redux example)" />
  <meta name="og:image" content="/images/4_blur.jpg?<%= htmlWebpackPlugin.options.version %>" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Artem Maximum — windows ui emulation" />
  <meta name="twitter:description" content="Emulation of windows 8 UI (React + Redux example)" />

  <meta name="theme-color" content="#6565D6" />
  <meta name="msapplication-TileColor" content="#6565D6" />
  <meta name="yandex-verification" content="9df8371439d4c355" />

  <link rel="manifest" href="/manifest.json" />
  <link rel="shortcut icon" href="/favicon.ico?<%= htmlWebpackPlugin.options.version %>" />
  <link rel="icon" sizes="192x192" href="/images/icon192.png" />
  <link rel="icon" sizes="120x120" href="/images/icon120.png" />
</head>
<body>
  <div id="website"><center><h3 style="font-size: 38px; font-weight: 400; padding: 30px 0; font-family: Verdana, Arial">Loading...</h3></center></div>
  <link async href="https://fonts.googleapis.com/css?family=Raleway:400,200,500,600" rel="stylesheet" type="text/css" />
</body>
</html>
